body#home {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

body#article {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav .home {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

nav .article {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.update-delete {
    display: flex;
    flex-direction: row;
}

.update-delete .row {
    margin: 0 5px;
}

.btn-crud {
    color: black !important;
    font-weight: bold !important;
    padding: 10px !important;
}

.btn-crud:hover {
    color: white !important;
}

.fa-magnifying-glass {
    font-size: 25px;
}

/* END NAVBAR */


/* HEADER */
header h2 {
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 7px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15em;
}

.news {
    position: relative;
    overflow: hidden;
}

.layer {
    background-color: rgba(0,0,0,0.55);
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
    color: white;
}

.layer a {
    text-decoration: none;
}

.layer a:hover {
    color: white;
    background-color: black;
}

.layer h4 {
    margin: 0;
    font-size: 15px;
}

.layer h3 {
    color: white;
}

.layer h3:hover {
    text-decoration: underline;
}

.md-layer * {
    font-size: 2.5vh;
}

.md-layer {
    height: 55%;
}

.layer ul {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column
}

.nav li a:hover {
    text-decoration: underline !important;
}

.layer ul li {
    text-decoration: none;
}

.lg-img {
    height: 525px;
    background-color: #eee; 
    position: absolute;
    z-index: -1;   
}

.md-img {
    height: 250px;
    background-color: #eee;
}

a.card {
    width: 17rem;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.card-body h4 {
    font-size: 12px;
}

.card-body h3 {
    font-size: 15px;
}
/* END HEADER */

/* Category Box */
.category, .category-dishover {
    padding: 8px 10px;
    font-weight: bold;
    color: black;
    display: inline;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
}

.category:hover {
    color: white;
    filter: brightness(80%);
}

.sport {
    background-color: #00FF66;
}
.movie {
    background-color: #00bdc4;
}
.politic {
    background-color: red;
}
.tech {
    background-color: #fbff05;
}
.music {
    background-color: #E234B1;
}
.health {
    background-color: #61FF00;
}
.food {
    background-color: orangered;
}
/* End Category Box */


/* ARTICLE */
article h2 {
    font-family: 'Roboto Mono', monospace;
    padding: 8px 0;
    font-weight: bold;
    letter-spacing: 0.1em;
}
/* END ARTICLE */

/* SECTION */
section {
    background-color: #fff;
}
/* END SECTION */


/* CRUD PAGE */
.card.container {
    width: 750px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px !important;
}
/* END CRUD PAGE */


/* FOOTER */
footer {
    height: 100%;
    border-top: 1px solid white;
    padding: 60px 120px 30px 120px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo img {
  height: 75px;
}

.logo p {
  font-size: 30px;
  margin: 0;
}

.slogan p {
  margin-top: 12px;
  font-size: 15px;
}

.icons a {
  text-decoration: none;
  padding: 0 7.5px;
  color: white;
}

/* social media logo */
.fa-brands{
  font-size: 60px;
  text-align: right;
}

.fa-twitter:hover {
  color: rgb(70,193,246);
}
.fa-tiktok:hover {
  color: rgb(255,45,85);
}
.fa-youtube:hover {
  color: rgb(254,0,0);
}
.fa-whatsapp:hover {
  color: rgb(0,231,119);
}
.fa-instagram:hover {
  color: rgb(225,48,108);
}
.fa-facebook:hover {
  color: rgb(24,118,243);
}
/* end socmed logo */

.copyright {
  padding-top: 20px;
  font-size: 15px;
}
/* END FOOTER */